* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.center{
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    background: gray;
    text-size-adjust: left;
    
}

.artigo{
    vertical-align: top;
    display: inline-block;
    border: 1px solid red;
    margin: 4px 10px;
    margin-top: 20px;
    width: 600px;
}