* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.box, .box2 {
    width: 300px;
    margin: 0 auto;
    background: gray;
    /*overflow: auto;*/
}

.box p,.box2 p {
    width: 100%;
}

.box2 {
    background: red;
    margin-top: 20px;
    display: block;
}