*{
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
}

/* input[type=file]{
    display: none;
}

label{
    display: block;
    width: 220px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 20px;
    margin: 20px auto;
} */

form{
    text-align: center;
    background-color: #ccc;
    padding: 30px 0;

}

/* form select{
    width: 220px;
    height: 30px;
    border: 0;
    background-color: white;
    background-image: url('../imagens/sprite.jpg');
    background-size: 17px 20px;
    background-repeat: no-repeat;
    background-position: 96% 7px;
    padding-left: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

select::-ms-expand{
    display: none;
} */

input[type=checkbox]{
    display: none;
}
label{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: green;
}

input[type=checkbox]:checked + label{
    background-color: red;
}