*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto";
}

@font-face{
    src: url(../fonts/NotoSans-Italic.ttf);
    font-family: "Noto";
}

html, body{
    height: 100%;
}


.center{
    width: 100%;
    margin: 0 auto;

}
.header{
    width: 100%;
    padding: 0 2%;
    height: 60px;
    background-color: #212343;
}

.header img{
    width: 100%;
    margin: 19px 0 19px 40px;
    
}

.container-banner{
    padding: 0 2%;
    width: 100%;
    height: 557px;
    background-image: url('../imagens/header_bg.png');
    background-size: cover;
    background-position: center;
    

}

.container-banner > .center{
    height: 100%;
}

.form{
    width: 100%;
    height: calc(100% + 30px);
    background-color: white;
    float: right;
    border: 5px solid #ccc;
    border-radius: 7px;
    position: relative;
    top: -13px;
    padding: 10px 2%;
    border-image: linear-gradient(to right, rgba(124, 22, 128, 0.7) , rgba(151, 151, 142, 0.7));
    border-image-slice: 1;
    background-clip: padding-box;
}

.form h2 {
    font-weight: normal;
    color: rgb(63, 44, 80);
    font-size: 21px;
    text-align: center;
}

.input-container{
    margin-top: 20px;
}
.input-container span {
    display: inline-block;
    width: 100%;
    color: rgb(63, 44, 80);
    font-size: 17px;
}
.input-container input{
    width: 100%;
    height: 40px;
    margin-top: 8px;
    outline: none;
}

.warning p{
    color: rgb(248, 98, 98);
    margin-top: 10px;
}

input[type=submit]{
    width: 100%;
    height: 50px;
    margin: 70px 0 15px 0;
    background-color: rgb(104, 86, 121);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 8px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: 900;
}

input[type=submit]:hover{
    background-color: rgb(68, 63, 73);
    transition: 0.7s;
}

.container-box{
    margin-top: 50px;
    padding: 30px;
    float: left;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 31, 61, 0.7);
    border-radius: 10px 10px 0 0;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, rgb(92, 7, 95) , rgb(73, 73, 70));
    border-image-slice: 1;
}
.container-box:hover{
    background-color: rgba(68, 63, 73, 0.5);
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to left, rgb(92, 7, 95) , rgb(73, 73, 70));
    border-image-slice: 1;
    transition: 0.8s;
    
}

.container-box p{
    width: 100%;
    margin: 80px 0;
    text-align: center;
    color: white;
    
}


.container-midlle{
    padding: 40px 2%;
    background-color: rgb(189, 187, 190);
    text-align: center;
}

.container-midlle h2{
    font-weight: bold;
}

.container-midlle p{
    width: 100%;
    max-width: 768px;
    padding-top: 17px;
    margin: 15px 0;
    text-align: justify;
    display: inline-block;
}

.arrow{
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(../imagens/arrow.png);
    margin-top: -31px;
    text-align: center;
}

.container-center h2{
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.container-center .center{
    float: left;
    width: 33.333%;
    text-align: center;
    margin: 50px 0;
    padding: 0 20px;

}

.container-center .center h2{
    margin-top: 15px;
}

.container-center .center p{
    margin: 0 10px;
    text-align: justify;
}

.container-center .center img{
    width: 100%;
}

footer{
    width: 100%;
    background-color: rgb(189, 187, 190);
    padding: 40px 0;
    text-align: center;
    background-position-x: bottom;
}

